<%# app/views/dashboard/index.html.erb %>

<div data-controller="player">
  <div class="main-wrapper">
    <h1 class="text-3xl font-semibold mbe-6">Discover Music</h1>

    <section class="mbe-10">
      <h2 class="text-xl font-semibold mbe-4">Trending</h2>

      <div class="grid grid-cols-2 grid-cols-3@sm grid-cols-3@md grid-cols-6@lg gap-x-4 gap-y-8">
        <%# Card 1 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3"
                  data-player-title-param="Lyrics about cars and motors"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://images.unsplash.com/photo-1641391503184-a2131018701b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0">
            <div class="relative">
              <img src="https://images.unsplash.com/photo-1641391503184-a2131018701b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Lyrics about cars and motors</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">2 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">2 likes</span>
            </div>
          </div>
        </div>

        <%# Card 2 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-2.mp3"
                  data-player-title-param="Lyrics about cars and motors"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://images.unsplash.com/photo-1751713971850-57236ce4c89b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0">
            <div class="relative">
              <img src="https://images.unsplash.com/photo-1751713971850-57236ce4c89b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Lyrics about cars and motors</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">9 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="white" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">2 likes</span>
            </div>
          </div>
        </div>

        <%# Card 3 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-3.mp3"
                  data-player-title-param="Bass Orchestra 1"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://cdn.pixabay.com/photo/2022/12/01/02/04/man-7628084_1280.jpg">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2022/12/01/02/04/man-7628084_1280.jpg" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Bass Orchestra 1</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">0 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 4 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-4.mp3"
                  data-player-title-param="Bass Orchestra 2"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://cdn.pixabay.com/photo/2022/12/30/22/01/music-7687732_1280.png">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2022/12/30/22/01/music-7687732_1280.png" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Bass Orchestra 2</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">0 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 5 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-5.mp3"
                  data-player-title-param="Bass Orchestra 3"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://cdn.pixabay.com/photo/2014/10/17/13/42/photo-album-492297_1280.jpg">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2014/10/17/13/42/photo-album-492297_1280.jpg" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Bass Orchestra 3</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">0 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 6 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-6.mp3"
                  data-player-title-param="Bass Orchestra: The Sequel"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://cdn.pixabay.com/photo/2021/09/13/23/10/vinyl-6622596_1280.jpg">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2021/09/13/23/10/vinyl-6622596_1280.jpg" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Bass Orchestra: The Sequel</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">0 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 7 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-7.mp3"
                  data-player-title-param="A dreamy lofi song"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://images.unsplash.com/photo-1677658288237-2fff291a34f0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0">
            <div class="relative">
              <img src="https://images.unsplash.com/photo-1677658288237-2fff291a34f0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">A dreamy lofi song about the su...</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">1 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 8 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-8.mp3"
                  data-player-title-param="A dreamy lofi song pt. 2"
                  data-player-artist-param="Tolase Kelvin"
                  data-player-image-param="https://cdn.pixabay.com/photo/2024/07/01/14/42/ai-generated-8865407_1280.jpg">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2024/07/01/14/42/ai-generated-8865407_1280.jpg" alt="Album art" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">A dreamy lofi song about the su...</p>
          <p class="text-sm text-subtle mbe-1">Tolase Kelvin</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">5 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 9 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-9.mp3"
                  data-player-title-param="Bicycling Song"
                  data-player-artist-param="John Doe"
                  data-player-image-param="https://cdn.pixabay.com/photo/2017/11/21/20/23/cd-cover-2969102_1280.jpg">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2017/11/21/20/23/cd-cover-2969102_1280.jpg" alt="Album art for Bicycling song" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Bicycling song</p>
          <p class="text-sm text-subtle mbe-1">John Doe</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">2 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>

        <%# Card 10 %>
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-10.mp3"
                  data-player-title-param="Bicycling Song (Remix)"
                  data-player-artist-param="John Doe"
                  data-player-image-param="https://cdn.pixabay.com/photo/2020/01/02/16/29/dark-4736238_1280.jpg">
            <div class="relative">
              <img src="https://cdn.pixabay.com/photo/2020/01/02/16/29/dark-4736238_1280.jpg" alt="Album art for Bicycling song" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">Bicycling song</p>
          <p class="text-sm text-subtle mbe-1">John Doe</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">1 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mbe-10">
      <h2 class="text-xl font-semibold mbe-4">Dance</h2>
      <div class="grid grid-cols-2 grid-cols-3@sm grid-cols-4@md grid-cols-6@lg gap-x-4 gap-y-8">
        <!-- Card 11 -->
        <div>
          <button type="button" class="card-image-wrapper mbe-2"
                  data-action="player#show"
                  data-player-song-url-param="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-11.mp3"
                  data-player-title-param="80s SOCS"
                  data-player-artist-param="John Doe"
                  data-player-image-param="https://images.unsplash.com/photo-1644860500493-5d118e2cc80a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0">
            <div class="relative">
              <img src="https://images.unsplash.com/photo-1644860500493-5d118e2cc80a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0" alt="Album art for an 80s dance song" class="block album-art object-cover rounded-md">
              <div class="card-overlay flex items-center justify-center rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
              </div>
            </div>
          </button>
          <p class="text-base font-semibold overflow-ellipsis whitespace-nowrap">80s SOCS</p>
          <p class="text-sm text-subtle mbe-1">John Doe</p>
          <div class="flex items-center justify-between gap-1">
            <p class="text-sm text-subtle">1 listens</p>
            <div class="flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-subtle" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/></svg>
              <span class="text-sm text-subtle">0 likes</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%# The player partial is rendered here %>
  <%= render "layouts/shared/player" %>
</div>