<% provide(:title, "Dashboard") %>
<% content_for :page_header, "Dashboard" %>

<div class="main-wrapper py-5 px-6">
  <h1 class="text-3xl font-semibold mbe-5">Trending</h1>

  <section class="mbe-10">
    <%= render "layouts/shared/async_loader", frame_id: "dashboard_songs_grid", src_path: published_songs_dashboard_path do %>
      <div class="grid grid-cols-2 grid-cols-3@sm grid-cols-3@md grid-cols-6@lg gap-x-4 gap-y-8">
        <% 12.times do %>
          <%= render "songs/song_skeleton" %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>