<div>
  <div class="mbe-2">
    <div class="relative">
      <div class="skeleton block album-art rounded-md"></div>
    </div>
  </div>
  
  <div class="skeleton" style="height: var(--size-4); width: 90%; margin-bottom: 0.25rem;"></div>
  
  <div class="skeleton" style="height: var(--size-3); width: 60%; margin-bottom: var(--size-1);"></div>

  <div class="flex items-center justify-between gap-1">
    <div class="skeleton" style="height: var(--size-3); width: 40%;"></div>
    
    <div class="skeleton" style="height: var(--size-3); width: 30%;"></div>
  </div>
</div>