<div class="flex flex-col grow i-full b-full bg-main">
  <div class="flex justify-center items-center">
    <label class="input input--actor flex items-center">
      <span class="icon icon--search text-subtle mie-2" aria-hidden="true"></span>
      <%= text_field_tag "actor_field", nil, placeholder: "Search your creations" %>
    </label>
  </div>

  <div id="track_list" class="mbs-4 grow overflow-y-auto">
    <% if songs.any? %>
      <% songs.each do |song| %>
        <%= render "songs/track_status", song: song %>
      <% end %>
    <% else %>
      <div id="empty_state" class="flex flex-col items-center justify-center p-10 text-center">
        <span class="icon icon--music text-subtle" style="--icon-size: 2.5rem"></span>
        <h2 class="mbs-4 text-lg font-semibold">No Music Yet</h2>
        <p class="text-subtle mbs-1">Create a song to see its progress.</p>
      </div>
    <% end %>
  </div>
</div>