<% provide(:title, "New song") %>
<% content_for :page_header, "Create" %>

<% content_for :head do %>
  <%= turbo_stream_from current_user %>
<% end %>

<div class="grow grid@lg grid-cols-12@lg lg-constrained-height">
  <div class="col-span-4@md flex flex-col overflow-hidden">
    <%= render "form", song: @song %>
    
    <%= render "songs/track_status_sheet", songs: @songs %>
  </div>

  <div class="col-span-8@md overflow-hidden show@lg">
    <div class="bg-main border-is border-subtle p-5 b-full h-full">
      <%= render "songs/track_list", songs: @songs %>
    </div>
  </div>
</div>