<% provide(:title, "New song") %>
<% content_for :page_header, "Create" %>

<% content_for :head do %>
  <%= turbo_stream_from current_user %>
<% end %>

<div class="grow grid@lg grid-cols-12@lg">
  <div class="col-span-4@md flex flex-col">
    <%= render "form", song: @song %>
  </div>

  <div class="col-span-8@md">
    <div class="bg-main border-is border-subtle p-5 b-full">
      <%= render "songs/track_list", songs: [] %>
    </div>
  </div>
</div>